body {
    background-color: ghostwhite;
}

.main {
    background-color: ghostwhite;
    border: 2px solid darkred;
    padding: 20px;
}

@keyframes h1-anim {
    0% {
        padding: 0px;
        background-color: ghostwhite;
        margin: 200px;
        font-size: 0px;
    }

    100% {
        padding: 20px;
        background-color: white;
        margin: 100px 40px 20px 40px;
    }
}

h1 {

    animation-name: h1-anim;
    animation-duration: 1s;

    color: darkred;
    font-size: 300%;
    text-align: center;
    background-color: white;

    padding: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 0px 20px 0px 20px;
    margin: 100px 40px 20px 40px;
    box-shadow: 5px 5px black;
}

p {
    color: darkslategrey;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}

code {
    color: limegreen;
    background-color: darkgreen;
}

a {
    color: darkblue
}

a:hover {
    color: cornflowerblue;
}

li {
    display: inline;
    background-color: ghostwhite;
    padding: 10px;
    border: 2px solid black;
    border-radius: 0px 10px 0px 10px;
}

ul {
    background-color: white;

    border: 2px solid darkred;
    padding: 20px;

    list-style-type: none;
    position: fixed;
    left: -10px;
    margin: 0px;
    top: 0;
    width: 100%;
}

.nav {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    white-space: nowrap;
}

.nav:hover {
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navtitle {
    color: darkred;
    font-weight: bold;
}

input {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;

    border: 2px solid black;
    border-radius: 0px 10px 0px 10px;
}

input:hover {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    border: 2px solid black;
    border-radius: 0px 10px 0px 10px;
    background-color: ghostwhite;
}

button {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    border: 2px solid black;
    border-radius: 0px 10px 0px 10px;
    background-color: white;
}

button:hover {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    border: 2px solid black;
    border-radius: 0px 10px 0px 10px;
    background-color: ghostwhite;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: white;
    border: 2px solid darkred;
    border-radius: 0px 20px 0px 20px;
    padding: 20px;
}

.flexContainer div {
    flex-basis: 50%;
}